name: AI News Publisher

on:
  schedule:
    - cron: "0 */12 * * *" # каждые 12 часов
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies and ffmpeg
        run: |
          sudo apt update
          sudo apt install -y ffmpeg
          pip install -r requirements.txt

      - name: Run script
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
          TG_CHAT_ID: ${{ secrets.TG_CHAT_ID }}
        run: |
          python main.py
